@charset "UTF-8";

/* =======================content======================= */
#content .course-form {
	margin: 0px 0px 50px 0px;
	border: 1px solid rgb(204, 204, 204);
}

.course-form h1 {
	line-height: 60px;
	height: 60px;
	font-size: 18px;
	text-align: center;
}

.course-form p {font-size: 15px;}


/* 테이블 */
.course-form table {
	border-collapse: collapse;
}
.course-form table th {
	height: 70px;
	min-width: 150px;
	color: rgb(34,34,34);
	font-size: 15px;
	background-color: rgb(249, 249, 249);
	border-top: 1px solid rgb(204, 204, 204);
	vertical-align: middle;
}
.course-form table tr td {
	padding: 12px 20px;
	border-top: 1px solid rgb(204, 204, 204);
}


/* 텍스트박스 */
.course-form input[type="text"] {
	width:110px;
	height: 46px;
	padding: 0px 15px;
	box-sizing: border-box;
}

/* 코스지정 */
.course-form input[name="address"] {width: 89%;}
.course-form .guide {color: rgb(136, 136, 136);}
.course-form .address-form {margin: 15px 0px 10px 0px;}
.course-form #address-btn {
	width: 90px;
	height: 46px;
	margin: 0px 0px 0px 10px;
	background-color: rgb(35, 45, 74);
	color: rgb(255, 255, 255);
	
}

/* 지도 (나중에 img를 지도로 바꿔야함!!!!) */
.course-form table tr td>#map>img {
	width: 376px;
	height: 320px;
}



/* 버튼 */
.course-form input[name="courseName"] {width: 100%;}
.course-form ul>li {float: left;}
.course-form label {margin: 0px 12px 0px 0px;}
.course-radio .course-radio p, #btn-wrap>button {
	text-align: center;
	min-width: 82px;
	line-height: 46px;
	padding: 0px 15px;
	color: rgb(102, 102, 102);
	border: 1px solid rgb(217, 217, 217);
	border-radius: 3px;
	background-color: rgb(255,255,255);
}
.course-radio input[type="radio"]:checked + p, #btn-wrap>.add {
	color: rgb(255,255,255);
	border-color: rgb(50, 108, 249);
	background-color: rgb(50, 108, 249);
}
#btn-wrap {text-align: center;}
#btn-wrap>button {
	width: 160px;
	height: 50px;
	font-size: 15px;
	font-family: 나눔고딕, "맑은 고딕", 돋움, 굴림; /* 적용안되길래 일단 넣음 */
}
#btn-wrap>.add {margin: 0px 0px 0px 12px;}


